html, body {
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 1.4;
    font-size: 18px;
}

h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
}

body > div {
    margin: 20px;
}

input { 
    font-family: inherit;
    font-size: inherit;
    padding: 8px;
    width: 100%;
}

canvas {
    /* border: 1px solid black; */
}

.active {
    text-decoration: underline;
    color: #3498db;
}

.mistake {
    color: #B60000;
}

#word-container {
    max-width: 400px;
    height: 52px;
    overflow: hidden;
}
#word-container span {
    margin-right: 10px;
    display: inline-block;
}

#wool-register{
    margin-top: 10px;
    height: 72px;
    overflow: hidden;
    opacity: 0.5;
}